@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --gunmetal-85: hsla(212, 14%, 85%, 1);
    --gunmetal-75: hsla(212, 14%, 75%, 1);
    --sky-blue-75: hsla(201, 80%, 75%, 1);
    --sky-blue-60: hsla(201, 80%, 60%, 1);
    --overlay: #f8c10b;
    --countBg: #24272adb;
    --countBorder: #1b1b1b87;
    --year: #e10973;
    --month: #af67b5;
    --week: #acaf1e;
    --day: #e18a07;
    --hours: #3a67f5;
    --min: #3d72a4;
    --sec: #cccccc;
    --bg: #1d1d1d;
    --color: white
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    color: unset
}

.middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media (max-width: 768px) {
    .middle {
        position: unset;
        -webkit-transform: unset;
        transform: unset;
        padding-top: 15%
    }
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 99999999999999
}

.preloader_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    color: var(--color)
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.hidden {
    display: none;
    width: 0;
    height: 0
}

.body-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 60%;
    font-family: "Poppins", sans-serif;
    color: var(--color)
}

.body-bg .overlay {
    background: var(--overlay);
    min-height: 100vh;
}

@media (max-width: 768px) {
    .body-bg {
        min-height: 100%
    }
}

@media (max-width: 599px) {
    .body-bg {
        height: auto
    }
}

.body-bg .container {
    width: 80%;
    margin: 0 auto
}

@media (max-width: 768px) {
    .body-bg .container {
        width: 96%
    }
}

.body-bg .container .heading-text {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem
}

@media (max-width: 768px) {
    .body-bg .container .heading-text {
        font-size: 2rem
    }
}

@media (max-width: 599px) {
    .body-bg .container .heading-text {
        font-size: 1.2rem;
        margin-bottom: 2rem
    }
}

@media screen and (max-width: 360px) {
    .body-bg .container .heading-text {
        font-size: 1rem
    }
}

.body-bg .container .heading-text p {
    font-size: 1rem
}

@media screen and (max-width: 360px) {
    .body-bg .container .heading-text p {
        font-size: 0.8rem
    }
}

.greetings {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}

.greetings>span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        color: #fff;
        text-shadow: 0 0 12px #e32424, 0 0 50px #e32424,
            0 0 100px #e32424;
    }

    10%,
    90% {
        color: #111;
        text-shadow: none;
    }
}

.greetings>span:nth-child(2) {
    animation-delay: 0.2s;
}

.greetings>span:nth-child(3) {
    animation-delay: 0.4s;
}

.greetings>span:nth-child(4) {
    animation-delay: 0.6s;
}

.greetings>span:nth-child(5) {
    animation-delay: 0.8s;
}

.greetings>span:nth-child(6) {
    animation-delay: 1s;
}

.greetings>span:nth-child(7) {
    animation-delay: 1.2s;
}

.greetings>span:nth-child(8) {
    animation-delay: 1.4s;
}

@media screen and (max-width: 574px) {
    .greetings {
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
}

.count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 599px) {
    .count {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.count li {
    margin: 15px;
    text-align: center;
    border-radius: 50px;
    width: 150px;
    font-size: 1.4rem;
    background: var(--countBg);
    -webkit-box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.41)
}

@media (max-width: 768px) {
    .count li {
        font-size: 1rem
    }
}

.count .number {
    display: block;
    padding: 40px 0;
    font-size: 3rem
}

@media (max-width: 768px) {
    .count .number {
        font-size: 2rem
    }
}

.count .name {
    padding: 10px 0px;
    display: block;
    text-transform: capitalize;
    font-weight: 500;
}

.count #years {
    color: var(--year);
    border-bottom: 3px solid var(--year)
}

.count #months {
    color: var(--month);
    border-bottom: 3px solid var(--month)
}

.count #weeks {
    color: var(--week);
    border-bottom: 3px solid var(--week)
}

.count #days {
    color: var(--day);
    border-bottom: 3px solid var(--day)
}

.count #hours {
    color: var(--hours);
    border-bottom: 3px solid var(--hours)
}

.count #minutes {
    color: var(--min);
    border-bottom: 3px solid var(--min)
}

.count #seconds {
    color: var(--sec);
    border-bottom: 3px solid var(--sec)
}

.count p {
    font-size: 1rem
}

header nav {
    position: fixed;
    top: 0;
    left: 50px;
    right: 50px;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

nav .logo img {
    height: 100px;
    width: 100px;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

header nav ul li {
    margin-left: 20px
}

@media (max-width: 599px) {
    header nav ul li {
        margin-left: 15px
    }
}

header nav ul li i {
    font-size: 1.2rem
}

header nav ul li .fa-tiktok {
    color: #000000;
}

header nav ul li i.fa-facebook {
    color: #4267b2;
}

header nav ul li i.fa-instagram {
    width: 19px;
    height: 19px;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

header nav ul li input {
    width: 0
}

header nav ul li label {
    width: 100px
}

header nav ul li p.theme-switch-toggle {
    width: 40px;
    height: 24px;
    background: green;
    border-radius: 50px;
    position: relative
}

.darkmode-toggle:focus-within .toggle-slider {
    -webkit-box-shadow: 0 0 0px 0px var(--sky-blue-60);
    box-shadow: 0 0 0px 0px var(--sky-blue-60)
}

.darkmode-toggle:focus-within input:checked+.toggle-slider {
    -webkit-box-shadow: 0 0 0px 0px var(--gunmetal-85);
    box-shadow: 0 0 0px 0px var(--gunmetal-85)
}

.darkmode-toggle input {
    opacity: 0;
    position: absolute
}

.darkmode-toggle input:checked+.toggle-slider {
    border: 2px solid var(--gunmetal-75);
    background-color: var(--gunmetal-85)
}

.darkmode-toggle input:checked+.toggle-slider:after {
    left: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 432 427' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='1.5'%3E%3Cg id='SUN' transform='translate(-424.047 -239.811)'%3E%3Ccircle cx='640.753' cy='452.963' r='113.272' fill='%23e6e6e6' stroke='%23000' stroke-width='8'/%3E%3Cpath id='sun-shadow' d='M746.735 456.266c-21 129-212.959 115.208-212-3 1.865 136.625 200 145 212 3z' fill='%23ccc' stroke='%23ccc' stroke-width='8'/%3E%3Cpath id='sun-mouth' d='M624.71 460.049c.891 25.907 34.414 21.584 32.626.901' fill='none' stroke='%23000' stroke-width='8'/%3E%3Cpath id='sun-eye' d='M576.005 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3Cpath d='M705.501 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3C/g%3E%3C/svg%3E")
}

.darkmode-toggle .toggle-slider {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    position: relative;
    border-radius: 25px;
    height: 24px;
    border: 2px solid var(--sky-blue-60);
    background-color: var(--sky-blue-75)
}

.darkmode-toggle .toggle-slider:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 432 427' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='1.5'%3E%3Cg id='SUN' transform='translate(-424.047 -239.811)'%3E%3Ccircle cx='640.753' cy='452.963' r='113.272' fill='%23ffe300' stroke='%23000' stroke-width='8'/%3E%3Cpath id='sun-shadow' d='M746.735 456.266c-21 129-212.959 115.208-212-3 1.865 136.625 200 145 212 3z' fill='%23ffb900' stroke='%23ffb900' stroke-width='8'/%3E%3Cpath id='sun-mouth' d='M624.71 460.049c.891 25.907 34.414 21.584 32.626.901' fill='none' stroke='%23000' stroke-width='8'/%3E%3Cg id='shine' fill='%23ffe300' stroke='%23000' stroke-width='8'%3E%3Cpath d='M495.247 311.376a6.126 6.126 0 00-8.66 0l-2.165 2.165a6.128 6.128 0 000 8.66l45.806 45.805a6.126 6.126 0 008.66 0l2.165-2.165a6.125 6.125 0 000-8.659l-45.806-45.806z'/%3E%3Cpath d='M648.408 249.934a6.127 6.127 0 00-6.124-6.123h-3.061a6.127 6.127 0 00-6.124 6.123v64.779a6.127 6.127 0 006.124 6.124h3.061a6.127 6.127 0 006.124-6.124v-64.779z'/%3E%3Cpath d='M434.171 431.37a6.127 6.127 0 00-6.124 6.123v3.062a6.127 6.127 0 006.124 6.124h64.779a6.127 6.127 0 006.123-6.124v-3.062a6.126 6.126 0 00-6.123-6.123h-64.779z'/%3E%3Cpath d='M780.449 439.024a6.127 6.127 0 00-6.124 6.124v3.061a6.127 6.127 0 006.124 6.124h64.779a6.127 6.127 0 006.123-6.124v-3.061a6.127 6.127 0 00-6.123-6.124h-64.779z'/%3E%3Cpath d='M797.102 316.401a6.126 6.126 0 000-8.66l-2.165-2.165a6.126 6.126 0 00-8.66 0l-45.805 45.806a6.126 6.126 0 000 8.66l2.165 2.165a6.127 6.127 0 008.659 0l45.806-45.806z'/%3E%3Cpath d='M786.277 594.55a6.128 6.128 0 008.66 0l2.165-2.165a6.126 6.126 0 000-8.66l-45.806-45.806a6.127 6.127 0 00-8.659 0l-2.165 2.165a6.126 6.126 0 000 8.66l45.805 45.806z'/%3E%3Cpath d='M630.991 656.597a6.127 6.127 0 006.123 6.124h3.062a6.127 6.127 0 006.124-6.124v-64.778a6.127 6.127 0 00-6.124-6.124h-3.062a6.127 6.127 0 00-6.123 6.124v64.778z'/%3E%3Cpath d='M484.422 583.725a6.128 6.128 0 000 8.66l2.165 2.165a6.128 6.128 0 008.66 0l45.806-45.806a6.126 6.126 0 000-8.66l-2.165-2.165a6.128 6.128 0 00-8.66 0l-45.806 45.806z'/%3E%3C/g%3E%3Cpath id='sun-eye' d='M576.005 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3Cpath d='M705.501 426.898c-6.87.006-20.616 3.651-20.612 20.054.004 17.057 13.742 21.669 20.612 21.664 6.871-.005 20.613-5.817 20.613-21.696 0-15.879-13.742-20.027-20.613-20.022z'/%3E%3C/g%3E%3C/svg%3E")
}

@media (prefers-reduced-motion: no-preference) {
    .darkmode-toggle .toggle-slider:after {
        -webkit-transition: all 300ms ease-in;
        transition: all 300ms ease-in
    }
}

.visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute
}

.user {
    position: relative;
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.userItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userItem .image {
    position: relative;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ff9292;
}

.image span {
    position: absolute;
}

.userItem .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 10;
}

.userItem span {
    font-size: 21px;
    font-family: 'Dancing Script', cursive;
    margin-top: 5px;
}

.boxheart {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heart {
    animation: heartbeat 1s infinite;
    background-color: red;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 0 10px;
    transform: rotate(-45deg);
    position: absolute;
}

.heart:before,
.heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 70px;
    position: absolute;
    width: 70px;
}

.heart:before {
    top: -35px;
    left: 0;
}

.heart:after {
    left: 35px;
    top: 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1) rotate(-45deg);
    }

    20% {
        transform: scale(1.25) rotate(-45deg);
    }

    40% {
        transform: scale(1.5) rotate(-45deg);
    }
}

.boxheart .text_in_heart {
    animation: textbeat 1s infinite;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxheart p {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 22px;
    transform: translateY(-15px);
    position: absolute;
    margin-bottom: 15px;
}

.boxheart span {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 22px;
    position: relative;
    display: flex;
    justify-content: center;
}

@keyframes textbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1.2);
    }
}

button {
    border-radius: 50px;
    margin: 12px 0;
    border-style: none;
}

button:hover {
    background-color: red;
}

.button a:hover {
    color: #fff;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    text-decoration: none;
    font-size: 1rem;
    color: #111;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    font-weight: 600;
}

.fa-heart {
    color: #ff0000
}

footer {
    text-align: center;
    padding: 10px 0px 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%)
}

@media (max-width: 768px) {
    footer {
        position: unset;
        -webkit-transform: unset;
        transform: unset;
        margin-top: 80px
    }
}

